<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>捷運大富翁</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="./assets/js/jquery.rwdImageMaps.js"></script>
    <link rel="icon" href="./images/favicon.ico">
    <script>
        $(document).ready(function (e) {
            $('img[usemap]').rwdImageMaps();
        });
    </script>
</head>
<body>
<header>
    <nav id="nav">
        <img id="ximg" src="./images/000.png">
        <h1 id="xeki"></h1>
    </nav>
    <p id="demo"></p>
    <button id="reload" onclick="getLocation()">重新定位</button>
</header>
<main>
    <img id="Image-Maps" src="./images/metro2021.png" border="0" orgWidth="960" orgHeight="1286" usemap="#image-maps"
         alt=""/>
    <map name="image-maps" id="ImageMaps">
        <area alt="" title="淡水" data-toggle="modal" data-target="#Tamsui" shape="rect" coords="112,82,172,112"
              style="outline:none;" target="_self"/>
        <area alt="" title="紅樹林" data-toggle="modal" data-target="#Hongshulin" shape="rect" coords="80,127,171,160"
              style="outline:none;" target="_self"/>
        <area alt="" title="竹圍" data-toggle="modal" data-target="#Zhuwei" shape="rect" coords="113,177,169,210"
              style="outline:none;" target="_self"/>
        <area alt="" title="關渡" data-toggle="modal" data-target="#Guandu" shape="rect" coords="112,222,168,253"
              style="outline:none;" target="_self"/>
        <area alt="" title="忠義" data-toggle="modal" data-target="#Zhongyi" shape="rect" coords="159,253,200,309"
              style="outline:none;" target="_self"/>
        <area alt="" title="復興崗" data-toggle="modal" data-target="#Fuxinggang" shape="rect" coords="200,253,248,309"
              style="outline:none;" target="_self"/>
        <area alt="" title="北投" data-toggle="modal" data-target="#Beitou" shape="rect" coords="251,249,292,310"
              style="outline:none;" target="_self"/>
        <area alt="" title="奇岩" data-toggle="modal" data-target="#Qiyan" shape="rect" coords="296,253,332,309"
              style="outline:none;" target="_self"/>
        <area alt="" title="唭哩岸" data-toggle="modal" data-target="#Qilian" shape="rect" coords="330,251,384,307"
              style="outline:none;" target="_self"/>
        <area alt="" title="石牌" data-toggle="modal" data-target="#Shipai" shape="rect" coords="385,284,440,314"
              style="outline:none;" target="_self"/>
        <area alt="" title="明德" data-toggle="modal" data-target="#Mingde" shape="rect" coords="382,327,441,357"
              style="outline:none;" target="_self"/>
        <area alt="" title="芝山" data-toggle="modal" data-target="#Zhishan" shape="rect" coords="382,371,449,406"
              style="outline:none;" target="_self"/>
        <area alt="" title="士林" data-toggle="modal" data-target="#Shilin" shape="rect" coords="381,416,442,450"
              style="outline:none;" target="_self"/>
        <area alt="" title="劍潭" data-toggle="modal" data-target="#Jiantan" shape="rect" coords="380,461,444,496"
              style="outline:none;" target="_self"/>
        <area alt="" title="圓山" data-toggle="modal" data-target="#Yuanshan" shape="rect" coords="382,506,452,539"
              style="outline:none;" target="_self"/>
        <area alt="" title="大橋頭" data-toggle="modal" data-target="#Daqiaotou" shape="rect" coords="312,546,364,602"
              style="outline:none;" target="_self"/>
        <area alt="" title="台北橋" data-toggle="modal" data-target="#Taipei-Bridge" shape="rect" coords="229,603,317,643"
              style="outline:none;" target="_self"/>
        <area alt="" title="菜寮" data-toggle="modal" data-target="#Cailiao" shape="rect" coords="196,645,263,679"
              style="outline:none;" target="_self"/>
        <area alt="" title="三重" data-toggle="modal" data-target="#Sanchong" shape="rect" coords="134,654,192,709"
              style="outline:none;" target="_self"/>
        <area alt="" title="先嗇宮" data-toggle="modal" data-target="#Xianse-Temple" shape="rect" coords="72,711,154,750"
              style="outline:none;" target="_self"/>
        <area alt="" title="頭前庄" data-toggle="modal" data-target="#Touqianzhuang" shape="rect" coords="5,762,127,794"
              style="outline:none;" target="_self"/>
        <area alt="" title="新莊" data-toggle="modal" data-target="#Xinzhuang" shape="rect" coords="32,813,103,852"
              style="outline:none;" target="_self"/>
        <area alt="" title="輔大" data-toggle="modal" data-target="#Fu-Jen-University" shape="rect" coords="22,863,95,905"
              style="outline:none;" target="_self"/>
        <area alt="" title="丹鳳" data-toggle="modal" data-target="#Danfeng" shape="rect" coords="26,906,94,944"
              style="outline:none;" target="_self"/>
        <area alt="" title="迴龍" data-toggle="modal" data-target="#Huilong" shape="rect" coords="20,952,97,993"
              style="outline:none;" target="_self"/>
        <area alt="" title="行天宮" data-toggle="modal" data-target="#Xingtian-Temple" shape="rect"
              coords="484,598,575,630"
              style="outline:none;" target="_self"/>
        <area alt="" title="雙連" data-toggle="modal" data-target="#Shuanglian" shape="rect" coords="333,611,408,643"
              style="outline:none;" target="_self"/>
        <area alt="" title="北門" data-toggle="modal" data-target="#Beimen" shape="rect" coords="261,686,347,728"
              style="outline:none;" target="_self"/>
        <area alt="" title="西門" data-toggle="modal" data-target="#Ximen" shape="rect" coords="264,729,354,774"
              style="outline:none;" target="_self"/>
        <area alt="" title="龍山寺" data-toggle="modal" data-target="#Longshan-Temple" shape="rect"
              coords="160,728,255,773"
              style="outline:none;" target="_self"/>
        <area alt="" title="江子翠" data-toggle="modal" data-target="#Jiangzicui" shape="rect" coords="184,790,260,825"
              style="outline:none;" target="_self"/>
        <area alt="" title="新埔(新埔民生)" data-toggle="modal" data-target="#Xinpu" shape="rect" coords="103,845,245,876"
              style="outline:none;" target="_self"/>
        <area alt="" title="板橋" data-toggle="modal" data-target="#Banqiao" shape="rect" coords="114,886,305,924"
              style="outline:none;" target="_self"/>
        <area alt="" title="府中" data-toggle="modal" data-target="#Fuzhong" shape="rect" coords="152,941,215,974"
              style="outline:none;" target="_self"/>
        <area alt="" title="亞東醫院" data-toggle="modal" data-target="#Far-Eastern-Hospital" shape="rect"
              coords="126,988,214,1027"
              style="outline:none;" target="_self"/>
        <area alt="" title="忠孝新生" data-toggle="modal" data-target="#Zhongxiao-Xinsheng" shape="rect"
              coords="473,710,563,774"
              style="outline:none;" target="_self"/>
        <area alt="" title="台大醫院" data-toggle="modal" data-target="#NTU-Hospital" shape="rect" coords="328,786,410,818"
              style="outline:none;" target="_self"/>
        <area alt="" title="小南門" data-toggle="modal" data-target="#Xiaonanmen" shape="rect" coords="302,828,361,879"
              style="outline:none;" target="_self"/>
        <area alt="" title="東門" data-toggle="modal" data-target="#Dongmen" shape="rect" coords="443,810,510,867"
              style="outline:none;" target="_self"/>
        <area alt="" title="古亭" data-toggle="modal" data-target="#Guting" shape="rect" coords="418,878,496,913"
              style="outline:none;" target="_self"/>
        <area alt="" title="板新" data-toggle="modal" data-target="#Banxin" shape="rect" coords="248,927,307,962"
              style="outline:none;" target="_self"/>
        <area alt="" title="中原" data-toggle="modal" data-target="#Zhongyuan" shape="rect" coords="252,982,318,1013"
              style="outline:none;" target="_self"/>
        <area alt="" title="橋和" data-toggle="modal" data-target="#Qiaohe" shape="rect" coords="255,1032,294,1088"
              style="outline:none;" target="_self"/>
        <area alt="" title="頂溪" data-toggle="modal" data-target="#Dingxi" shape="rect" coords="343,938,401,968"
              style="outline:none;" target="_self"/>
        <area alt="" title="永安市場" data-toggle="modal" data-target="#Yongan-Market" shape="rect"
              coords="317,982,396,1017"
              style="outline:none;" target="_self"/>
        <area alt="" title="中和" data-toggle="modal" data-target="#Zhonghe" shape="rect" coords="302,1031,349,1085"
              style="outline:none;" target="_self"/>
        <area alt="" title="南勢角" data-toggle="modal" data-target="#Nanshijiao" shape="rect" coords="372,1073,441,1108"
              style="outline:none;" target="_self"/>
        <area alt="" title="景平" data-toggle="modal" data-target="#Jingping" shape="rect" coords="430,1008,469,1058"
              style="outline:none;" target="_self"/>
        <area alt="" title="十四張" data-toggle="modal" data-target="#Shisizhang" shape="rect" coords="493,1076,547,1128"
              style="outline:none;" target="_self"/>
        <area alt="" title="新店" data-toggle="modal" data-target="#Xindian" shape="rect" coords="556,1212,616,1243"
              style="outline:none;" target="_self"/>
        <area alt="" title="新店區公所" data-toggle="modal" data-target="#Xindian-District-Office" shape="rect"
              coords="559,1172,673,1201"
              style="outline:none;" target="_self"/>
        <area alt="" title="七張" data-toggle="modal" data-target="#Qizhang" shape="rect" coords="558,1128,624,1158"
              style="outline:none;" target="_self"/>
        <area alt="" title="大坪林" data-toggle="modal" data-target="#Dapinglin" shape="rect" coords="548,1071,639,1106"
              style="outline:none;" target="_self"/>
        <area alt="" title="景美" data-toggle="modal" data-target="#Jingmei" shape="rect" coords="556,1025,617,1058"
              style="outline:none;" target="_self"/>
        <area alt="" title="萬隆" data-toggle="modal" data-target="#Wanlong" shape="rect" coords="531,978,598,1018"
              style="outline:none;" target="_self"/>
        <area alt="" title="公館" data-toggle="modal" data-target="#Gongguan" shape="rect" coords="494,948,568,978"
              style="outline:none;" target="_self"/>
        <area alt="" title="台電大樓" data-toggle="modal" data-target="#Taipower-Building" shape="rect"
              coords="464,912,564,946"
              style="outline:none;" target="_self"/>
        <area alt="" title="大安森林公園" data-toggle="modal" data-target="#Daan-Park" shape="rect" coords="512,796,570,862"
              style="outline:none;" target="_self"/>
        <area alt="" title="大安" data-toggle="modal" data-target="#Daan" shape="rect" coords="572,810,636,864"
              style="outline:none;" target="_self"/>
        <area alt="" title="象山" data-toggle="modal" data-target="#Xiangshan" shape="rect" coords="741,811,787,862"
              style="outline:none;" target="_self"/>
        <area alt="" title="國父紀念館" data-toggle="modal" data-target="#S.Y.S.-Memorial-Hall" shape="rect"
              coords="672,713,745,770"
              style="outline:none;" target="_self"/>
        <area alt="" title="後山埤" data-toggle="modal" data-target="#Houshanpi" shape="rect" coords="842,742,891,799"
              style="outline:none;" target="_self"/>
        <area alt="" title="昆陽" data-toggle="modal" data-target="#Kunyang" shape="rect" coords="848,709,916,739"
              style="outline:none;" target="_self"/>
        <area alt="" title="南港" data-toggle="modal" data-target="#Nangang" shape="rect" coords="851,654,940,699"
              style="outline:none;" target="_self"/>
        <area alt="" title="南港展覽館" data-toggle="modal" data-target="#Taipei-Nangang-Exhibition-Center" shape="rect"
              coords="802,597,950,647"
              style="outline:none;" target="_self"/>
        <area alt="" title="永春" data-toggle="modal" data-target="#Yongchun" shape="rect" coords="794,744,840,798"
              style="outline:none;" target="_self"/>
        <area alt="" title="松山" data-toggle="modal" data-target="#Songshan" shape="rect" coords="744,638,788,690"
              style="outline:none;" target="_self"/>
        <area alt="" title="南京三民" data-toggle="modal" data-target="#Nanjing-Sanmin" shape="rect"
              coords="675,635,743,690"
              style="outline:none;" target="_self"/>
        <area alt="" title="中山國中" data-toggle="modal" data-target="#Zhongshan-Junior-High-School" shape="rect"
              coords="583,592,686,630"
              style="outline:none;" target="_self"/>
        <area alt="" title="松山機場" data-toggle="modal" data-target="#Songshan-Airport" shape="rect"
              coords="562,556,678,584"
              style="outline:none;" target="_self"/>
        <area alt="" title="大直" data-toggle="modal" data-target="#Dazhi" shape="rect" coords="579,503,638,539"
              style="outline:none;" target="_self"/>
        <area alt="" title="劍南路" data-toggle="modal" data-target="#Jiannan-Rd." shape="rect" coords="560,435,612,490"
              style="outline:none;" target="_self"/>
        <area alt="" title="西湖" data-toggle="modal" data-target="#Xihu" shape="rect" coords="628,430,670,483"
              style="outline:none;" target="_self"/>
        <area alt="" title="港墘" data-toggle="modal" data-target="#Gangqian" shape="rect" coords="679,431,722,484"
              style="outline:none;" target="_self"/>
        <area alt="" title="文德" data-toggle="modal" data-target="#Wende" shape="rect" coords="729,429,765,484"
              style="outline:none;" target="_self"/>
        <area alt="" title="內湖" data-toggle="modal" data-target="#Neihu" shape="rect" coords="776,427,816,487"
              style="outline:none;" target="_self"/>
        <area alt="" title="大湖公園" data-toggle="modal" data-target="#Dahu Park" shape="rect" coords="820,429,880,485"
              style="outline:none;" target="_self"/>
        <area alt="" title="葫洲" data-toggle="modal" data-target="#Huzhou" shape="rect" coords="883,431,923,490"
              style="outline:none;" target="_self"/>
        <area alt="" title="東湖" data-toggle="modal" data-target="#Donghu" shape="rect" coords="855,505,914,540"
              style="outline:none;" target="_self"/>
        <area alt="" title="南港軟體園區" data-toggle="modal" data-target="#Nangang-Software-Park" shape="rect"
              coords="792,552,916,586"
              style="outline:none;" target="_self"/>
        <area alt="" title="民權西路" data-toggle="modal" data-target="#Minquan-W.-Rd." shape="poly"
              coords="461,541,463,558,442,558,440,570,432,570,431,581,419,579,417,600,373,602,375,542"
              style="outline:none;" target="_self"/>
        <area alt="" title="中山國小" data-toggle="modal" data-target="#Zhongshan-Elementary-School" shape="poly"
              coords="472,548,471,572,451,574,452,598,478,599,480,585,548,584,549,570,530,570,530,549"
              style="outline:none;" target="_self"/>
        <area alt="" title="松江南京" data-toggle="modal" data-target="#Songjiang-Nanjing" shape="poly"
              coords="568,631,509,631,507,662,476,662,476,690,519,690,519,666,541,666,541,658,549,658,551,647,566,647,573,650,571,642"
              style="outline:none;" target="_self"/>
        <area alt="" title="中山" data-toggle="modal" data-target="#Zhongshan" shape="poly"
              coords="407,638,404,662,375,662,376,691,418,690,421,668,452,666,454,654,440,650,440,638"
              style="outline:none;" target="_self"/>
        <area alt="" title="台北車站" data-toggle="modal" data-target="#Taipei-Main-Station" shape="poly"
              coords="405,694,460,695,465,730,432,749,417,749,418,771,371,774,373,745,404,742" style="outline:none;"
              target="_self"/>
        <area alt="" title="善導寺" data-toggle="modal" data-target="#Shandao-Temple" shape="poly"
              coords="437,746,436,769,428,767,413,789,411,796,483,795,480,784,458,766,468,773,458,746"
              style="outline:none;" target="_self"/>
        <area alt="" title="中正紀念堂" data-toggle="modal" data-target="#C.K.S.-Memorial-Hall" shape="poly"
              coords="373,833.0000610351562,372,875.0000610351562,364,877.0000610351562,361,890.0000610351562,341,891.0000610351562,338,903.0000610351562,350,911.0000610351562,408,913.0000610351562,410,864.0000610351562,418,862.0000610351562,418,834.0000610351562"
              style="outline:none;" target="_self"/>
        <area alt="" title="景安" data-toggle="modal" data-target="#Jingan" shape="poly"
              coords="394,1009,421,1010,424,1034,408,1036,406,1060,363,1060,362,1033,389,1031" style="outline:none;"
              target="_self"/>
        <area alt="" title="秀朗橋" data-toggle="modal" data-target="#XiulangBridge" shape="poly"
              coords="492,1082,492,1062,535,1060,535,1048,519,1047,516,1032,472,1033,466,1086" style="outline:none;"
              target="_self"/>
        <area alt="" title="台北101/世貿" data-toggle="modal" data-target="#Taipei-101/World-Trade-Center" shape="poly"
              coords="724,860,753,862,755,895,673,895,675,860,700,859,702,836,724,836" style="outline:none;"
              target="_self"/>
        <area alt="" title="信義安和" data-toggle="modal" data-target="#Xinyi-Anhe" shape="poly"
              coords="648,810,708,811,710,827,694,829,691,838,674,841,673,861,648,864" style="outline:none;"
              target="_self"/>
        <area alt="" title="忠孝復興" data-toggle="modal" data-target="#Zhongxiao-Fuxing" shape="poly"
              coords="662,712,664,731,654,731,648,738,634,743,618,750,613,774,571,772,573,743,600,742,605,714"
              style="outline:none;" target="_self"/>
        <area alt="" title="忠孝敦化" data-toggle="modal" data-target="#Zhongxiao-Dunhua" shape="poly"
              coords="644,746,665,746,668,769,683,770,696,794,618,798,614,794,625,768,642,770" style="outline:none;"
              target="_self"/>
        <area alt="" title="台北小巨蛋" data-toggle="modal" data-target="#Taipei-Arena" shape="poly"
              coords="652,662,644,680,640,683,630,689,623,689,622,702,639,713,691,711,696,703,702,692,681,683,673,684,675,666,670,660"
              style="outline:none;" target="_self"/>
        <area alt="" title="市政府" data-toggle="modal" data-target="#Taipei-City-Hall" shape="poly"
              coords="749,744,748,767,737,770,731,783,728,798,792,798,789,785,774,766,768,746" style="outline:none;"
              target="_self"/>
        <area alt="" title="南京復興" data-toggle="modal" data-target="#Nanjing-Fuxing" shape="poly"
              coords="604,630.0000152587891,600,658.0000152587891,569,662.0000152587891,569,692.0000152587891,615,694.0000152587891,620,669.0000152587891,638,666.0000152587891,641,653.0000152587891,661,648.0000152587891,665,630.0000152587891"
              style="outline:none;" target="_self"/>
        <area title="新北產業園區" data-toggle="modal" data-target="#New-Taipei-Industrial-Park" coords="29,657,128,709" shape="rect">
        <area title="幸福" data-toggle="modal" data-target="#Xingfu" coords="15,725,72,750" shape="rect">
    </map>
    <div id="map-model">

    </div>

    <div class="modal fade" id="spin-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">為啥不是骰子是轉盤</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe src="https://wordwall.net/embed/fead5e4b503c45cb9aca7c2fedbe661b?themeId=28&templateId=8"
                            style="height: 100%;width: 100%" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="container" id="foot">
    <ul class="ful row">
        <li class="flist col-3"><a class="flist" href="/teams"><img class="focon" src="images/icons/group.png"><br>隊伍</a></li>
        <li class="flist col-3"  data-toggle="modal" data-target="#spin-modal"><img class="focon" src="images/icons/dice.png"><br>骰子</li>
        <li class="flist col-3"><img class="focon" src="images/icons/briefcase.png"><br>道具</li>
        <li class="flist col-3"><a class="flist"
                                   href="https://drive.google.com/drive/folders/1muiBrAYOCZ3lCX2axeAQMrBasWfhxHvg?usp=sharing"><img
                        class="focon" src="images/icons/cloud-computing.png"><br>上傳</a></li>
    </ul>
</footer>


<script>
    const x = document.getElementById("demo");
    const xeki = document.getElementById("xeki");
    const ximg = document.getElementById("ximg");
    const nav = document.getElementById("nav");
    const len = <%= len %> ;
    const lati = <%- JSON.stringify(latitude) %>
    const long = <%- JSON.stringify(longitude) %>;
    const eki = <%- JSON.stringify(eki) %>;
    const bgc = <%- JSON.stringify(bgc) %>;
    const img = <%- JSON.stringify(img) %>;
    const teki = <%- JSON.stringify(teki) %>
    const topic = <%- JSON.stringify(topic) %>

    //抓定位↓
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        xeki.innerHTML = "定位錯誤";
        ximg.src = "./images/000.png";
        nav.style.backgroundColor = "gray";
    }
    const arr = ["Tamsui", "Hongshulin", "Zhuwei", "Guandu", "Zhongyi", "Fuxinggang", "Beitou", "Qiyan", "Qilian", "Shipai", "Mingde", "Zhishan", "Shilin", "Jiantan", "Yuanshan", "Daqiaotou", "Taipei-Bridge", "Cailiao", "Sanchong", "Xianse-Temple", "Touqianzhuang", "Xinzhuang", "Fu-Jen-University", "Danfeng", "Huilong", "Xingtian-Temple", "Shuanglian", "Beimen", "Ximen", "Longshan-Temple", "Jiangzicui", "Xinpu", "Banqiao", "Fuzhong", "Far-Eastern-Hospital", "Zhongxiao-Xinsheng", "NTU-Hospital", "Xiaonanmen", "Dongmen", "Guting", "Banxin", "Zhongyuan", "Qiaohe", "Dingxi", "Yongan-Market", "Zhonghe", "Nanshijiao", "Jingping", "Shisizhang", "Xindian", "Xindian-District-Office", "Qizhang", "Dapinglin", "Jingmei", "Wanlong", "Gongguan", "Taipower-Building", "Daan-Park", "Daan", "Xiangshan", "S.Y.S.-Memorial-Hall", "Houshanpi", "Kunyang", "Nangang", "Taipei-Nangang-Exhibition-Center", "Yongchun", "Songshan", "Nanjing-Sanmin", "Zhongshan-Junior-High-School", "Songshan-Airport", "Dazhi", "Jiannan-Rd.", "Xihu", "Gangqian", "Wende", "Neihu", "Dahu Park", "Huzhou", "Donghu", "Nangang-Software-Park", "Minquan-W.-Rd.", "Zhongshan-Elementary-School", "Songjiang-Nanjing", "Zhongshan", "Taipei-Main-Station", "Shandao-Temple", "C.K.S.-Memorial-Hall", "Jingan", "XiulangBridge", "Taipei-101/World-Trade-Center", "Xinyi-Anhe", "Zhongxiao-Fuxing", "Zhongxiao-Dunhua", "Taipei-Arena", "Taipei-City-Hall", "Nanjing-Fuxing", "New-Taipei-Industrial-Park", "Xingfu"]
    for (let i in topic) {
        $('#map-model').append(`<div class="modal fade" id="${arr[i]}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="eki">${teki[i]}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>題目</h5>
                <p class="topic">${topic[i]}</p>
                <hr>
                <h5>擁有者:</h5>
                <h5>目前在該站的小隊:</h5>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>`)

    }


    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            xeki.innerHTML = "定位錯誤";
            ximg.src = "./images/000.png";
            nav.style.backgroundColor = "gray";
        }
    }

    function showPosition(position) {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;
        x.innerHTML = "LAT: " + latitude +
            ", LONG: " + longitude;

        for (let i = 0; i < len; i++) {
            let ilatitude = lati[i];
            let ilongitude = long[i];
            let ieki = eki[i];
            let ibgc = bgc[i];
            let iimg = img[i];
            if ((latitude + 0.003) >= ilatitude && (latitude - 0.003) <= ilatitude) {
                if ((longitude + 0.003) >= ilongitude && (longitude - 0.003) <= ilongitude) {
                    xeki.innerHTML = ieki;
                    ximg.src = iimg;
                    nav.style.background = ibgc;
                    break;
                } else {
                    xeki.innerHTML = "無鄰近車站";
                    ximg.src = "./images/000.png";
                    nav.style.backgroundColor = "gray";
                }
            } else {
                xeki.innerHTML = "無鄰近車站";
                ximg.src = "./images/000.png";
                nav.style.backgroundColor = "gray";
            }
        }


    }


    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                xeki.innerHTML = "定位錯誤";
                ximg.src = "./images/000.png";
                nav.style.backgroundColor = "gray";
                break;
            case error.POSITION_UNAVAILABLE:
                xeki.innerHTML = "定位錯誤";
                ximg.src = "./images/000.png";
                nav.style.backgroundColor = "gray";
                break;
            case error.TIMEOUT:
                xeki.innerHTML = "定位錯誤";
                ximg.src = "./images/000.png";
                nav.style.backgroundColor = "gray";
                break;
            case error.UNKNOWN_ERROR:
                xeki.innerHTML = "定位錯誤";
                ximg.src = "./images/000.png";
                nav.style.backgroundColor = "gray";
                break;
        }
    }

    //抓定位↑
</script>

</body>
</html>
