<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>捷運大富翁</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css">
<html lang="zh-TW">
<body>
<header>
    <nav>
        <h1 id="xeki"></h1>

    </nav>
    <p id="demo"></p>
    <button id="reload" onclick="getLocation()">重新定位</button>
</header>
<img src="images/metro2021.png" style="width: 100%">
<footer class="container">
    <ul class="ful row">
        <li class="flist col-4">隊伍</li>
        <li class="flist col-4">骰子</li>
        <li class="flist col-4">道具</li>
    </ul>
</footer>





<script>
    const x = document.getElementById("demo");
    const xeki = document.getElementById("xeki");
    const len = <%= len %> ;
    const lati = <%- JSON.stringify(latitude) %>
    const long = <%- JSON.stringify(longitude) %>;
    const eki = <%- JSON.stringify(eki) %>;
    const north = <%- JSON.stringify(north) %>;
    const east = <%- JSON.stringify(east) %>;
    const south = <%- JSON.stringify(south) %>;
    const west = <%- JSON.stringify(west) %>;

    //抓定位↓
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;
        x.innerHTML = "LAT: " + latitude +
            ", LONG: " + longitude;

        for (let i = 0; i < len; i++) {
            let ilatitude = lati[i];
            let ilongitude = long[i];
            let ieki = eki[i];
            if ((latitude + 0.003) >= ilatitude && (latitude - 0.003) <= ilatitude) {
                if ((longitude + 0.003) >= ilongitude && (longitude - 0.003) <= ilongitude) {
                    xeki.innerHTML = ieki;
                    break;
                } else {
                    xeki.innerHTML = "無鄰近車站";
                }
            } else {
                xeki.innerHTML = "無鄰近車站";
            }
        }


    }


    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
//抓定位↑
</script>

</body>
</html>
