<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS</title>
</head>
<html lang="zh-TW">
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>
<p id="xeki"></p>


<script>
    const x = document.getElementById("demo");
    const xeki = document.getElementById("xeki");
    const len = <%= len %> ;
    const lati = <%- JSON.stringify(latitude) %>
    const long = <%- JSON.stringify(longitude) %>;
    const eki = <%- JSON.stringify(eki) %>;
    const north = <%= north %>;
    const east = <%= east %>;
    const south = <%= south %>;
    const west = <%= west %>;

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;
        x.innerHTML = "Latitude: " + latitude +
            "<br>Longitude: " + longitude;

        for (let i = 0; i < len; i++) {
            let ilatitude = lati[i];
            let ilongitude = long[i];
            let ieki = eki[i];
            if (ilatitude > north || ilatitude < south || ilongitude > east || ilongitude < west) {
                xeki.innerHTML = "超出範圍";
                break;
            }
            if ((latitude + 0.003) >= ilatitude && (latitude - 0.003) <= ilatitude) {
                if ((longitude + 0.003) >= ilongitude && (longitude - 0.003) <= ilongitude) {
                    xeki.innerHTML = ieki;
                    break;
                } else {
                    xeki.innerHTML = "無鄰近車站";
                }
            } else {
                xeki.innerHTML = "無鄰近車站";
            }
        }


    }


    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }

</script>

</body>
</html>
